body {
    margin-top: 20px;
}

#banniere {
  
    padding: 0px 15px;
}

.btn {
   margin-left: 5px;
   margin-right: 5px;
}

footer {
   
    margin-bottom: 0px;
}

.jumbotron h4 {
    text-align: center;
}

.container {
    padding-bottom: 0px;
}

.errors {
	color: red;
}

.titre{
	height: 500px;
}

.icone{
	color: white;
}


