body {
    margin-top: 0px;
    

}

.btn {
   margin-left: 5px;
   margin-right: 5px;
   
}

.jumbotron h4 {
    text-align: center;
}

.container {
    padding-bottom: 0px;
    height:100%;
    
   
}

.errors {
	color: red;
}

.titre{
	height:500px;
}

.icone{
	color: white;
}

.bouton-navbar{
	height:100%;
	width:100%;
}

.cadre-navbar {
	width:100%;
	margin: auto;
}


